@charset "UTF-8";

 .section{
  text-align:center;
  background-size: cover;
}


  #section0{
    background-image: url(images/empresa-sutil.jpg);
  }

  #section0 h1{
    top: 50%;
    transform: translateY(-50%);
    position: relative;
  }
  #section2{
    background-image: url(images/branding.jpg);
    padding: 6% 0 0 0;
  }
  #section3{
    background-image: url(images/branding.jpg);
    padding: 6% 0 0 0;
  }
  #section3 h1{
    color: #000;
  }