@charset "UTF-8";



html  {
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Mukta', sans-serif;
	color: #000;
}

a {
	text-decoration: none;
	color: #000;
}

p {
	font-family: 'Mukta', sans-serif;
	font-size: 0.95em;
		line-height: 1.2em;
}


h1 {
	font-size: 2em;
	line-height: 1.3em;
}

h2 {
	font-size: 1.625em;
	line-height: 1.2em;
}

h3 {
	font-size: 1.375em;
	line-height: 1em;
}

h4 {
	font-size: 1.125em;
}







/*CONOCENOS*/

.intro {
		padding: 20px;
}

.intro h1 {
	color: #fff;
	font-weight: 700;
}

.grid-servicios {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 20px 0px;
	padding-top: 30px;
}

.grid-item-servicios {
	text-align: center;
}

.grid-item-servicios p {
	color: #fff;
	font-weight: 400;
	font-size: 0.8em;
}

.servicio-img {
	width: 100px;
}





.espiritu-zooma h4 {
	text-decoration: underline;
}


.metodologia-aside  {
	padding-top: 20px;
}

.metodologia-aside p {
	font-weight: 600;
	font-size: 0.9em;
	display: inline-block;
	vertical-align: middle;
}

.icono-mas {
	width: 30px;
	vertical-align: middle;
}



.description-servicios {
	padding: 1em;
	display: block;
	position: absolute;
	top: 6vh;
}

.description-servicios h2 {
	font-size: 1.595em;
	line-height: 0.9em;
}

.icon-descripcion-servicios {
	display: none;
}

.foto-servicios {
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 55vh;
}

.foto-section-servicios {
    width: 100%;
}

.foto-section-servicios-375, .foto-section-servicios-768, .foto-section-servicios-992, .foto-section-servicios-1200  {
	display: none;
}






.compromiso {
	padding: 60px 0 30px 0;
}

.grid-compromiso-container {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    padding-bottom: 40px;
}

.grid-item-compromiso {
	text-align: center;
	width: 70%;
	margin: 0 auto;
}

.grid-item-compromiso p {
	display: none;
}

.grid-item-compromiso h3 {
	font-size: 1em;
}

.img-compromiso {
	height: 60px;
}

.up-compromiso {
	display: none;
}

.bloque-amarillo {
	background-color: #b51e1e;
	width: 35px;
	height: 4px;
	margin: 7px auto;
}







.marcas-titulo {
	background-color: #b51e1e;
	position: absolute;
	top: 0;
	padding: 10vh 15vw 10vh 15vw;
}

.marcas-titulo h2 {
	color: #fff;
}





.marcas-container {
	display: block;
	position: absolute;
	bottom: 5vh;
	width: 100%;
	height: 55vh;
}

.marcas-img {
width: 80%;
}

.marcas-img-768 {
	display: none;
}


/*FIN PAGINA HOME*/










/*PAGINA METODOLOGIA*/

.trabajo-zooma-desc {
	color: #fff;
	font-size: 1.2em;
	padding-top: 40px;
}


.underline  {
	text-decoration: underline;
}

.titulo-metodologia {
	padding-top: 70px;
}


.grid-container-metodologia {
	display: inline-block;
	padding: 40px 20px 40px 15px;

}

.grid-metodologia{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
}
.pasos-metodologia-img-full {
	display: none;
}

.pasos-metodologia-img {
	grid-column-start: 1;
	grid-row-start: 1;
	grid-row-end: span 6;
}

.img-pasos {
	height: 700px;
}


.pasos-metodologia-texto {
	text-align: left;
	padding-top: 25px;
	font-size: 0.9em;
}


.icon-metodologia {
	height: 70px;
}



.foto-metodologia {
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 45vh;
}




.grid-referentes {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	padding: 20vh 20px;
}

.referente {
	padding-bottom: 50px;
}

.img-referente {
	width: 250px;
	padding-bottom: 20px;
}






/*PAGINA PROYECTOS*/



.proyectos-content {
	width: 90vw;
	text-align: center;
	margin: 0 auto;
}


.titulo-proyectos  {
	display: block;
}

.separation {
	display: block;
	height: 50vh;
}

.visita-proyecto {
	display: block;
		text-align: right;
}

/*.titulo-proyectos {
	display: block;
	position: absolute;
	top: 40px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.visita-proyecto {
	position: absolute;
	display: block;
	bottom: 130px;
	width: 100%;
	margin: 0;
	padding: 0;
}*/

.visita-proyecto h3 {
	font-weight: 600;
	font-size: 1em;
}

.item-blanco {
	color: #fff;
}

.img-logo-zooma-proyecto {
	width: 70px;
}












/*PROYECTOS ESPECIFICO*/

.intro-proyecto {
	height: 100vh;
	text-align: center;
	padding-top: 7vh;
}

.text-titulo-proyecto {
	padding: 0 10px 30px 10px;
}

.img-titulo-proyecto {
	width: 100%;
}






.parrafo-1 {
	padding: 0 50px 20vh 50px;
}









.section-img-text-proyecto {
	padding: 10vh 0 10vh 0;

}

.img-proyecto-display-width-1200 {
	display: none;
}

.img-proyecto-display-width {
	width: 100%;
}

.texto-img-proyecto {
	padding: 20px 50px 0 50px;
}

.texto-img-proyecto h4 {
	font-size: 1em;
	line-height: 1.1em;
	font-weight: 400;
}






.img-proyecto-solo {
	width: 100%;
	padding: 0vh 0 10vh 0;
}




.info-empresa {
	padding: 0 30px 60px 50px;
}

.info-empresa h3 {
	font-weight: 400;
	font-size: 1em;
}



.control-proyect {
	width: 100%;
	position: relative;
}



.volver-proyectos {
	display: inline-block;
	text-align: left;
	padding: 0 0px 60px 20px;

}

.fa-arrow-left {
	font-size: 30px;
}

.siguiente-proyecto {
	display: inline-block;
	position: absolute;
	text-align: right;
    padding: 0 20px 60px 0;
    right: 0;
}

.logo-siguiente-proyecto {
	width: 50px;
}






















/*IMAGENES POR PROYECTO*/


.img-proyectos-template {
	background-size: cover;
	background-position: center center;
	height: 70vh;
	width: 100%;
}


.flexslider-container-proyecto {
	padding: 20px 0;
}

.flexslider-container-proyecto .texto-img-proyecto {
	padding-top: 0;
	padding-bottom: 30px;
}

.flex-nav-prev {
	display: none;
}

.flex-nav-next {
	display: none;
}




/*EMPRESA SUTIL*/

.img-sutil-titulo {
	background-image: url('../images/img-sutil-titulo.jpg');
}


.img-sutil-2 {
	background-image: url('../images/img-sutil-2.jpg');
}

.img-sutil-3 {
	background-image: url('../images/img-sutil-3.jpg');
}

.img-sutil-4 {
	background-image: url('../images/img-sutil-4.jpg');
}

.img-sutil-5 {
	background-image: url('../images/img-sutil-5.jpg');
}

.img-sutil-6 {
	background-image: url('../images/img-sutil-6.jpg');
}


/*EMPRESA DIPISA*/

.img-dipisa-titulo {
	background-image: url('../images/img-dipisa-3.jpg');
}


.img-dipisa-2 {
	background-image: url('../images/img-dipisa-2.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 200px;
	width: 100%;
}

.img-dipisa-3 {
	background-image: url('../images/img-dipisa-titulo.jpg');
}

.img-dipisa-4 {
	background-image: url('../images/img-dipisa-4.jpg');
}

.img-dipisa-5 {
	background-image: url('../images/img-dipisa-5.jpg');
}

.img-dipisa-6 {
	background-image: url('../images/img-dipisa-6.jpg');
}

.img-dipisa-7 {
	background-image: url('../images/img-dipisa-7.jpg');
}

.img-dipisa-8 {
	background-image: url('../images/img-dipisa-8.jpg');
}

.img-dipisa-9 {
	background-image: url('../images/img-dipisa-9.jpg');
}




/*EMPRESA MAS ALLA*/

.img-mas-alla-titulo {
	background-image: url('../images/img-mas-alla-titulo.jpg');
}


.img-mas-alla-2 {
	background-image: url('../images/img-mas-alla-2.jpg');
}

.img-mas-alla-3 {
	background-image: url('../images/img-mas-alla-3.jpg');
	height: 70vh;
}

.img-mas-alla-4 {
	background-image: url('../images/img-mas-alla-4.jpg');
}

.img-mas-alla-5 {
	background-image: url('../images/img-mas-alla-5.jpg');
}

.img-mas-alla-6 {
	background-image: url('../images/img-mas-alla-6.jpg');
}

.img-mas-alla-7 {
	background-image: url('../images/img-mas-alla-7.jpg');
}

.img-mas-alla-8 {
	background-image: url('../images/img-mas-alla-8.jpg');
}

.img-mas-alla-9 {
	background-image: url('../images/img-mas-alla-9.jpg');
}




/*EMPRESA DEPIEL*/

.img-depiel-titulo {
	background-image: url('../images/img-depiel-titulo.jpg');
}


.img-depiel-2 {
	background-image: url('../images/img-depiel-2.jpg');
}

.img-depiel-3 {
	background-image: url('../images/img-depiel-3.jpg');
}

.img-depiel-4 {
	background-image: url('../images/img-depiel-4.jpg');
}

.img-depiel-5 {
	background-image: url('../images/img-depiel-5.jpg');
}

.img-depiel-6 {
	background-image: url('../images/img-depiel-6.jpg');
}

.img-depiel-62 {
	background-image: url('../images/img-depiel-62.jpg');
}

.img-depiel-7 {
	background-image: url('../images/img-depiel-7.jpg');
}

.img-depiel-8 {
	background-image: url('../images/img-depiel-8.jpg');
}





/*EMPRESA AKBAR*/

.img-akbar-titulo {
	background-image: url('../images/img-akbar-titulo.jpg');
}


.img-akbar-2 {
	background-image: url('../images/img-akbar-2.jpg');
}

.img-akbar-3 {
	background-image: url('../images/img-akbar-3.jpg');
}

.img-akbar-4 {
	background-image: url('../images/img-akbar-4.jpg');
}

.img-akbar-5 {
	background-image: url('../images/img-akbar-5.jpg');
}

.img-akbar-6 {
	background-image: url('../images/img-akbar-6.jpg');
}

.img-akbar-6-2 {
	background-image: url('../images/img-akbar-6-2.jpg');
}

.img-akbar-6-3 {
	background-image: url('../images/img-akbar-6-3.jpg');
}

.img-akbar-6-4 {
	background-image: url('../images/img-akbar-6-4.jpg');
}

.img-akbar-6-5 {
	background-image: url('../images/img-akbar-6-5.jpg');
}

.img-akbar-6-6 {
	background-image: url('../images/img-akbar-6-6.jpg');
}







.img-akbar-7 {
	background-image: url('../images/img-akbar-7.jpg');
}

.img-akbar-8 {
	background-image: url('../images/img-akbar-8.jpg');
}














/*CONTACTO*/




.block-1-contacto {
	display: block;
	position: fixed;
	background-color: #36AFAC;
	text-align: center;
	padding: 60px 10px 60px 10px;
}

.block-1-contacto h1 {
	color: #fff;
}

.info-contacto {
	padding: 300px 0 0 0px;
	text-align: center;
}

.info-contacto p {
	font-weight: 600;
}

.info-contacto a {
	font-weight: 600;
}

.ask-box-titulo {
	text-align: center;
	padding-bottom: 40px;
}


.ask-box {
	text-align: center;
	border: solid black 2px;
	padding: 50px 0;
	margin: 0px 40px 40px 40px;
}


.form-name-mail {
	height: 20px;
	border-style: none;
	border-bottom: solid 2px black;
}

.mensaje-form {
	border-style: none;
	border-bottom: solid 2px black;
	height: 70px;
}



.enviar-forma  {
	background-color: #36AFAC;
	border-radius: 50px;
	border-style: solid;
	border-color: #000;
	padding: 5px;
	font-weight: 600;

}

















/*ARROW BOUNCE*/

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}


.i {
  display: block;
  color: #fff;
  width: 30px;
}
.arrow {
	z-index: 99;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -14px;
  width: 10px;
  height: 60px; /*change with size of arrow to make sit on bottom */
/*   background-image: url(); */
/*   background-size: contain; */
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}


.arrow-metodologia {
	z-index: 99;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -14px;
  width: 10px;
  height: 60px; /*change with size of arrow to make sit on bottom */
/*   background-image: url(); */
/*   background-size: contain; */
}




