@charset "UTF-8";



@media (min-width: 1440px) {


p {
	font-family: 'Mukta', sans-serif;
	font-size: 1.4em;
}


h1 {
	font-size: 3.5em;
}

h2 {
	font-size: 2.25em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.125em;
}




/*METODOLOGIA*/


.img-referente {
	width: 280px;
	padding-bottom: 20px;
}






.marcas-titulo {
	background-color: #26b4ae;
	position: absolute;
	left: 0;
	text-align: left;
	width: 35vw;
	height: 100vh;
	padding: 35vh 120px 0 120px;
}

.texto-img-proyecto {
	padding-top: 35px;
}

.texto-img-proyecto h4 {
	font-size: 1.2em;
	line-height: 1.2em;
	font-weight: 400;
	width: 600px;
}










/*IMAGENES POR PROYECTO*/

/*EMPRESA SUTIL*/

.img-sutil-titulo {
	background-image: url('../images/img-sutil-titulo-1200.jpg');
	background-size: cover;
	height: 70vh;
	width: 100%;
	background-position: center center;
}


.img-sutil-2 {
	background-image: url('../images/img-sutil-titulo-1200.jpg');
	background-size: cover;
	height: 70vh;
	width: 100%;
	background-position: center center;
}

.img-sutil-3 {
	background-image: url('../images/img-sutil-3-1200.jpg');
	background-size: cover;
	height: 80vh;
	width: 100%;
	background-position: center center;
}

.img-sutil-4 {
	background-image: url('../images/img-sutil-4-1200.jpg');
	background-size: cover;
	height: 80vh;
	width: 100%;
	background-position: center center;
}

.img-sutil-5 {
	background-image: url('../images/img-sutil-5-1200.jpg');
	background-size: cover;
	height: 90vh;
	width: 100%;
	background-position: center center;
}



/*DIPISA*/


.img-dipisa-titulo {
	background-image: url('../images/img-dipisa-3-1200.jpg');
	height: 70vh;
}

.img-dipisa-2 {
	background-image: url('../images/img-dipisa-2-1200.jpg');
	max-height: 85vh;
	height: 70vh;
}

.img-dipisa-3 {
	background-image: url('../images/img-dipisa-3=titulo-1200.jpg');
	height: 80vh;
}

.img-dipisa-4 {
	background-image: url('../images/img-dipisa-4-1200.jpg');
	height: 80vh;
}

.img-dipisa-5 {
	background-image: url('../images/img-dipisa-5-1200.jpg');
	height: 80vh;
}

.img-dipisa-6 {
	background-image: url('../images/img-dipisa-6-1200.jpg');
	height: 80vh;
}

.mapa-dipisa-viaje .img-proyecto-display-width {
	width: 100%;
	grid-column: 2 / 5;
	grid-row: 2 / 4;
	height: 80vh;
}

.img-dipisa-7 {
	background-image: url('../images/img-dipisa-7-1200.jpg');
	max-height: 80vh;
	height: 50vh
}




/*EMPRESA MAS ALLA*/

.img-mas-alla-titulo {
	background-image: url('../images/img-mas-alla-titulo-1200.jpg');
	height: 70vh;
}


.img-mas-alla-2 {
	background-image: url('../images/img-mas-alla-2-1200.jpg');
	height: 80vh;
}

.img-mas-alla-3 {
	background-image: url('../images/img-mas-alla-3-1200.jpg');
	height: 600px;
}

.img-mas-alla-4 {
	background-image: url('../images/img-mas-alla-4-1200.jpg');
	height: 75vh;
}


.img-mas-alla-5 {
	background-image: url('../images/img-mas-alla-5-1200.jpg');
	height: 95vh;
}

.img-mas-alla-6 {
	background-image: url('../images/img-mas-alla-6-1200.jpg');
	height: 95vh;
}

.img-mas-alla-7 {
	background-image: url('../images/img-mas-alla-7-1200.jpg');
	height: 85vh;
}





/*EMPRESA DEPIEL*/

.img-depiel-titulo {
	background-image: url('../images/img-depiel-titulo-1200.jpg');
	height: 75vh;
}


.img-depiel-2 {
	background-image: url('../images/img-depiel-2-1200.jpg');
	height: 90vh;
}

.img-depiel-3 {
	background-image: url('../images/img-depiel-3-1200.jpg');
	height: 85vh;
}

.img-depiel-4 {
	background-image: url('../images/img-depiel-4-1200.jpg');
	height: 80vh;
}

.img-depiel-5 {
	background-image: url('../images/img-depiel-5-1200.jpg');
	height: 80vh;
}

.img-depiel-6 {
	background-image: url('../images/img-depiel-6-1200.jpg');
	height: 85vh;
}

.img-depiel-62 {
	background-image: url('../images/img-depiel-62-1200.jpg');
	height: 85vh;
}





/*EMPRESA AKBAR*/

.img-akbar-titulo {
	background-image: url('../images/img-akbar-titulo-1200.jpg');
	height: 75vh;
}


.img-akbar-2 {
	background-image: url('../images/img-akbar-2-1200.jpg');
	height: 120vh;
}

.img-akbar-3 {
	background-image: url('../images/img-akbar-3-1200.jpg');
	height: 75vh;
}

.img-akbar-4 {
	background-image: url('../images/img-akbar-4-1200.jpg');
	height: 75vh;
}

.img-akbar-5 {
	background-image: url('../images/img-akbar-5-1200.jpg');
	height: 110vh;
}

.img-akbar-6 {
	background-image: url('../images/img-akbar-6-1200.jpg');
	height: 85vh;
}

.img-akbar-7 {
	background-image: url('../images/img-akbar-7-1200.jpg');
	height: 90vh;
}

.img-akbar-8 {
	background-image: url('../images/img-akbar-8-1200.jpg');
	height: 85vh;
}






}