@charset "UTF-8";



@media (min-width: 992px) {


p {
	font-family: 'Mukta', sans-serif;
	font-size: 1.4em;
}


h1 {
	font-size: 3.2em;
}

h2 {
	font-size: 2.7em;
}

h3 {
	font-size: 2.2em;
}

h4 {
	font-size: 1.825em;
}


.grid-item-servicios p {
	font-size: 1.6em;
}

.espiritu-zooma h4 {
	font-size: 1.825em;
}


.description-servicios {
	position: absolute;
	text-align: center;
	padding: 1.6em auto 3em auto;
	margin: 0 auto;
}


.description-servicios h2 {
	font-size: 2.7em;
}

.marcas-titulo h2 {
	font-size: 3em;
}


.foto-section-servicios, .foto-section-servicios-768, .foto-section-servicios-1200 {
    display: none;
}


.foto-section-servicios-992 {
	display: block;
	width: 100%;
}



/*PAGINA METODOLOGIA*/

.grid-container-metodologia {
	display: inline-block;
	padding: 120px 200px 0px 100px;

}

.grid-referentes {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	padding: 100px 90px 0 90px;
	grid-column-gap: 70px;
}




/*PAGINA PROYECTOS ESPECIFICOS*/

.texto-img-proyecto h4 {
	font-size: 1.825em;
	line-height: auto;
}




.parrafo-1 {
	padding: 0 250px 20vh 250px;
}










/*IMAGENES POR PROYECTO*/

/*DISPISA*/

.img-dipisa-2 {
	background-image: url('../images/img-dipisa-2-1000.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 340px;
	max-height: 490px;
	width: 100%;
}









/*PAGINA CONTACTO*/

.block-1-contacto {
	padding: 130px 50px 80px 50px;
}


.info-contacto {
	padding: 400px 0 0 0px;
	text-align: center;
}



}
