@charset "UTF-8";



@media (min-width: 1440px) {


p {
	font-family: 'Mukta', sans-serif;
	font-size: 1.4em;
}


h1 {
	font-size: 3.5em;
}

h2 {
	font-size: 2.25em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.125em;
}





.marcas-titulo {
	background-color: #26b4ae;
	position: absolute;
	left: 0;
	text-align: left;
	width: 35vw;
	height: 100vh;
	padding: 35vh 120px 0 120px;
}

}